{% extends 'universidad_app/base.html' %}

{% block title %}Agregar Facultad{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="display-4">Agregar Facultad</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock %}