<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Universidad{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Universidad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'facultades_list' %}">Facultades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'programas_list' %}">Programas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'docentes_list' %}">Docentes</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <p>
        Realizado por: Jhonattan Gabriel Benavides Concha, Johny Arley Moran Getial, Juan Pablo Guzmán Rosero 
    </p>
</body>
</html>
